[Unit]
Description=kde-tags - ntfy notification receiver

[Service]
ExecStart=@NTFY_BIN@ subscribe --config %h/.config/kde-tags/client.yml --from-config
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
